body{
 background-color: #E9E581;

}


.thumbnail{
	max-height: 120px;
	max-width: 120px;
	border-radius: 10px;
	float: right;
	overflow: auto;
	margin-bottom: 30px;
	
	

}

.jumbotron {
	background-color: #505050;
	height: 140px;
	
}

.jumbotron h1 {
	
	margin-left: 25px;
	margin-top: 40px;
	color: beige;
}

.list-group-item {
	padding: 15px 10px 0px 10px;
	margin-top: 10px;
	background-color: #FF6347;
	max-width: 280px;

}

.btn {
	padding: 5px;
	margin-bottom: 16px;
	color: beige;
}
.btn2 {
	padding: 8px;
	margin-bottom: 16px;
	color: white;
	margin-left: 320px;
	margin-bottom: 50px;
	background: none;
	background-color: #000080;
}
.lead {
	margin-top: 5px;
	color: beige;
	font-weight: bold;

}
#par {	
	margin-left: 25px;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	color: #505050;
}

#devoured {
	text-align: center;
	margin: 0px 0px -20px 0px;
	padding-bottom: 2px;
	background-color: #FF6347;
	font-weight: bold;
	width: 300px;
	float: right;

}

.form-control {
	max-width: 400px;
	margin-left: 190px;
}
@media screen and (max-width: 980px) {
	body{
		width: 95%;
	}
	.jumbotron {
	height: 200px;
	width: 800px;
	
}

.jumbotron h1 {
	
	margin-left: 15px;
	margin-top: 30px;
	float: right;
}
.thumbnail{
	float: left;
}

#devoured {
	margin: 10px;
	margin-right: -80px;
	
}
.form-control {
	margin-left: 290px;
}
.btn2 {
	margin-left: 430px;

}


}

@media screen and (max-width: 768px) {

	.jumbotron {
	width: 780px;
	padding-right: 40px;
}

#devoured {
	margin-right: 2px;
}
.form-control {
	margin-left: 180px;
}
.btn2 {
	margin-left: 320px;

}


}
@media screen and (max-width: 640px) {

.jumbotron {
	height: 180px;
}

.jumbotron h1 {
	
	margin-right: 220px;
}

.thumbnail{

	margin-left: 40px;
}
.form-control {
	max-width: 300px;
	margin-left: 160px;
}
#devoured {
	max-width: 240px;
}
.btn2 {
	margin-left: 250px;
}
.list-group-item {
	max-width: 240px;

}
}




